    .a {
      color: blue;
      margin: 0;
    }
  .header {
    border: 1px solid red;
    color: blue;
    margin: 0;
  }
      .b {
        color: red;
      }
      .b .c {
        margin-top: 10px;
      }
      .b .d {
        margin-bottom: 10px;
      }
      .b:after {
        content: ' ';
        clear: both;
        display: block;
      }
