.a {
  color: blue;
  margin: 0;
}
.header {
  border: 1px solid red;
  color: blue;
  margin: 0;
}
#header {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#header1 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.b {
  color: blue;
}
.b .c {
  margin-top: 10px;
}
.b .d > p {
  margin-bottom: 10px;
}
.b .d > p .e {
  color: #0000ff;
}
.b .d > p .e:before {
  color: blue;
}
.b .d > p .e > li {
  display: inline;
}
.b:after {
  content: ' ';
  clear: both;
  display: block;
}
    .f {
      color: #0000ff;
    }
